.container {
  width: 960px;
  margin: auto;
}


/*********  HEADER ************/

header {
    margin-top: 30px;
    height: 80px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35), 0px -1px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35), 0px -1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35), 0px -1px 1px rgba(0, 0, 0, 0.15);
}

div.logo a {
  color: #DDD;
  text-decoration: none;
  font-size: 26px;
  line-height: 68px;
}

div.navbar {
    float: right;
    background: none !important;
    border: none;
    padding: 0xp;
    margin: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}


ul.nav {
    list-style: none;
}

ul.nav li {
    line-height: 20px;
    float: left;
}

ul.nav li a.nav-link {
    color: #666;
    text-shadow: none;
    font-size: 16px;
    padding: 28px 20px;
}

input#search-box {
    margin-top: 25px;
}

/************** FOOTER ****************/
footer {
    margin-top: 20px;
    padding: 40px 0px 40px 0px;
}

footer h3 {
    padding: 2px 0px !important;
    margin-bottom: 10px;
}

#footer-social {
    text-align: center;
}

.social {
    padding-top: 10px;
    text-align: center;
}

.clear {
    padding-top: 5px;
    padding-bottom: 5px;
}


/*************** LINK CLASSES *****************/


a.fp-box:link {
    text-decoration: none;
    color: #666;
}

a.fp-box:visited {
    text-decoration: none;
    color: #666;
}

a.fp-box:hover {
    text-decoration: underline;
    color: #666;
}

a.fp-box:active {
    text-underline: none;
    color: #666;
}


