body {
  background: url(/img/bggivechange.gif);
  color: #666;

}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 1px 1px
    rgba(0, 0, 0, .35);
  -webkit-box-shadow: 0px 1px 1px
    rgba(0, 0, 0, .35);
  -moz-box-shadow: 0px 1px 1px
    rgba(0, 0, 0, .35);
}


/*********  HEADER ************/

header {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 80px;
    position: relative;
}


div.logo a {
  color: #DDD;
  text-decoration: none;
  font-size: 26px;
  line-height: 68px;
}

div.navbar {
    float: right;
    background: none !important;
    border: none;
    padding: 0xp;
    margin: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}


ul.nav {
    list-style: none;
}

ul.nav li {
    line-height: 20px;
    float: left;
}

ul.nav li a.nav-link {
    color: #666;
    text-shadow: none;
    font-size: 16px;
    padding: 28px 20px;
}

input#search-box {
    margin-top: 25px;
}

/*************** FRONT PAGE ************/
div.fp-container {
  padding-top: 40px;
}

div#fp-form-wrapper {
    padding-top: 10px;
}

div.box4-text {
    padding: 5px 15px 5px 15px;
    margin: 0px;
}

div.project-box {
    padding-left: 85px;
    padding-right: 85px;

}

div.box3 {
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
}


/************** FOOTER ****************/
footer {
    margin-top: 5px;
    padding: 5px 0px 10px 0px;
}

footer h3 {
    padding: 2px 0px !important;
    margin-bottom: 10px;
}

#footer-social {
    text-align: center;
}

.social {
    padding-top: 10px;
    text-align: center;
}

.clear {
    padding-top: 5px;
    padding-bottom: 5px;
}


/*************** LINK CLASSES *****************/


a.fp-box:link {
    text-decoration: none;
    color: #666;
}

a.fp-box:visited {
    text-decoration: none;
    color: #666;
}

a.fp-box:hover {
    text-decoration: underline;
    color: #666;
}

a.fp-box:active {
    text-underline: none;
    color: #666;
}


/************** FONTS *********************/
h3 {
    color: #545454;
}
